name: Prepare Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  release-please:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{ secrets.FLOWCORE_MACHINE_GITHUB_TOKEN }}
          release-type: node
    outputs:
      prs_created: ${{ steps.release-please.outputs.prs_created }}
      release_created: ${{ steps.release-please.outputs.release_created }}








